    .item1 {
      grid-area: myHeader;
    }

    .item2 {
      grid-area: myTable;
    }

    .item3 {
      grid-area: myForm;
    }

    .item4 {
      grid-area: footer;
    }

    .grid-container {
      display: grid;
      grid-template-areas:
        'myHeader myHeader myHeader myHeader myHeader myHeader'
        'myTable myTable myTable myForm myForm myForm'
        'myFooter myFooter myFooter myFooter myFooter myFooter';
      gap: 5px;
      background-color: #2195f301;
      padding: 1px;
    }

    .grid-container>div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: left;
      padding: 5px 0;
      padding-left: 10px;
      font-size: 10px;
    }

    /* https: //www.w3docs.com/tools/code-editor/11516 */
    .tableFixHead {
      overflow-y: auto;
      /* make the table scrollable if height is more than 200 px  */
      height: 400px;
      /* gives an initial height of 400px to the table */
    }

    .tableFixHead thead th {
      position: sticky;
      /* make the table heads sticky */
      top: 0px;
      /* table head will be placed from the top of the table and sticks to it */
    }

    table,
    table td {
      font-size: 16px;
      padding: 6px 8px;
      /* font-weight: bold; */
    }

    table th {
      position: sticky;
      color: white;
      background-color: rgb(152, 152, 152);
      text-align: center;
    }

    tr:nth-child(even) {
      background-color: #e2e2e2;
    }

    table tbody {
      background-color: #f3f3f3;
    }

    p.tableLabel,
    p.formLabel {
      border-collapse: collapse;
      background-color: rgb(22, 172, 32);
      color: white;
      font-size: 16px;
      text-align: center;
      padding: 5px;
    }

    form {
      border: 1px solid black;
      border-collapse: collapse;

      background-color: #f3f3f3;
      block-size: 50%;
      padding-top: 5px;
      padding-left: 5px;
      font-size: 16px;
    }

    header {
      background-color: #666;
      position: sticky;
      width: 100%;
      padding: 12px;
      text-align: center;
      font-size: 22px;
      color: white;
    }

    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #777;
      padding: 10px;
      text-align: center;
      color: white;
    }

    label input {
      margin-left: 8px;
      padding-left: 8px;
    }