// still need to sort player data, but it would probably 
// be easier to sort it while it is in an array in playerTable.js 
table#myTable
  script(type='text/javascript', src='/public/javascripts/sort.js')
  h2 Player List
  thead
    tr
      th(onclick='sortTable(0)') First Name
      th(onclick='sortTable(1)') Last Name
  tbody
    each plr in playerList.data
        tr
            td #{plr.firstName}
            td #{plr.lastName}

